.bg-image {
  background-image: url('../public/home.jpg');
  /* Replace with the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
}